{% extends 'layout.html' %}

{% block content %}

<div class="container">
  <h1>创建考试</h1>
  <form action="exam" method="post">
    <div class="form-group">
      <label for="exam_title">考试主题</label>
      <input type="text" class="form-control" id="exam_title" name="exam_title" placeholder="请输入考试主题">
    </div>
    <div class="form-group">
      <label for="exam_memo">内容介绍</label>
      <input type="text" class="form-control" id="exam_memo" name="exam_memo" placeholder="输入关于考试的备注信息">
    </div>
    <div class="form-group">
      <label for="exam_date">考试日期</label>
      <input type="text" name="exam_date" id="datetimepicker" data-date-format="yyyy-mm-dd">
    </div>
    <button type="submit" class="btn btn-default">创建</button>
  </form>
</div>
<script type="text/javascript">
  $("#datetimepicker").datetimepicker({format: 'yyyy-mm-dd',autoclose: true,startView:2,minView:2,todayHighlight:true});
</script>

{% endblock %}
