{% extends '../layout.html' %}

{% block content %}

<div class="container">
  <h1>学生分数录入</h1>
  <form action="signup" method="post">
    <div class="table-responsive">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>姓名</th>
                  <th>考试内容</th>
                  <th>考试时间</th>
                  <th>成绩</th>
                  <th>老师建议</th>
                </tr>
              </thead>
              <tbody >
                {% for member in members %}
                <tr>
                  <td>{{member.student_name}}</td>
                  <td>{{exam.title}}</td>
                  <td>{{member.lclass.lclass_name}}</td>
                  <td><input type="text" class="form-control" id="mark" name="mark" placeholder="成绩"></td>
                  <td><input type="text" class="form-control" id="memo" name="memo" placeholder="建议"></td>
                </tr>
                {% endfor %}

              </tbody>
            </table>
          </div>

<button type="submit" class="btn btn-default">确定</button>
</form>
</div>

{% endblock %}
